* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: Sen, san-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.break-all {
    word-break: break-all;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
    background: #171100;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.9;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

/* Header */
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5f5b53;
}

.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 21px;
    bottom: 6px;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .su-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* Hero */
.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    vertical-align: bottom;
}

/* Hero Left */
.hero .media-block {
    width: 48%;
    position: relative;
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    background: #fff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item + .item {
    margin-top: 14px;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .label {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero-summary .title {
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
    line-height: 1.67;
}

/* Hero Right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .desc {
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b23;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.hero-cta {
    min-width: 180px;
    background-color: var(--primary-color);
    line-height: 64px;
}

.hero .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .stats {
    margin-top: 8px;
}

.hero .stats strong {
    padding: 0 8px 0 28px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

.hero .stats strong:first-child {
    padding-left: 0;
}

/* Popular */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .desc {
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
    margin-top: 16px;
    width: 458px;
}

.popular-top .control {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
    border-radius: 50%;
}

.popular-top .control-btn:hover {
    cursor: pointer;
    color: #fff;
    background: var(--primary-color);
}

/* Course List */
.course-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.course-item {
    width: 32%;
    background: #fff;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.course-list .thumb {
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.course-item .info {
    padding: 16px 22px 22px;
}

.course-item .rating,
.course-item .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-item .line-clamp {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
    padding-right: 6px;
}

.course-item .star {
    width: 18px;
    height: 18px;
}

.course-item .value {
    margin-left: 6px;
    color: #fea31b;
}

.course-item .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.86;
}

.course-item .foot {
    display: flex;
    margin-top: 12px;
    align-items: center;
    justify-content: space-between;
}

.course-item .price {
    font-weight: 600;
    font-size: 1.8rem;
}

.course-item .btn {
    color: #fff;
    background: var(--primary-color);
    border: transparent;
}

/* Feedback */
.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2e2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    justify-content: space-between;
    transform: translateX(-100%);
    transition: all ease 0.3s;
}

.feedback-item .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .info .title {
    margin-top: 18px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}

.feedback-item .info .desc {
    margin-top: 4px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}

.feedback-item .dots {
    display: flex;
    margin-top: 28px;
}

.feedback-item .dot {
    cursor: pointer;
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}

.feedback-item .dot.active {
    background: var(--primary-color);
}

.feedback-item .content {
    width: 66%;
}

.feedback-item blockquote {
    margin-left: 30px;
    font-style: italic;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #fff;
}

/* Features 1 */
.feature {
    margin-top: 135px;
    padding: 65px 0;
}

.feature .body {
    display: flex;
    justify-content: space-between;
    gap: 130px;
}

.feature .images {
    display: flex;
    gap: 0 30px;
}

.feature .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40.17%;
}

.feature .images img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}

.feature .images img.lower {
    margin-top: 34px;
}

.feature .content .desc {
    margin-top: 16px;
    line-height: 1.75;
    color: #5f5b53;
}

.feature .content .btn {
    margin-top: 32px;
    background: var(--primary-color);
    min-width: 137px;
}

/* Feature 2 */
.feature-2 {
    margin-top: 70px;
}

.feature-2 .body {
    flex-direction: row-reverse;
}

.feature-2 .content {
    width: 49%;
}

.feature-2 .images img {
    width: 470px;
    height: 440px;
}

/* Blog */
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #fffcf4;
}

.blog .blog-top {
    text-align: center;
}

.blog .blog-top .desc {
    margin: 16px auto 0;
    line-height: 1.75;
    color: #696262;
    max-width: 448px;
}

.blog .blog-list {
    display: flex;
    margin-top: 55px;
    overflow: hidden;
    gap: 30px;
}

.blog .item {
    flex-shrink: 0;
    width: calc(33.33% - 20px);
    background: #fff;
    border-radius: 16px;
    transform: translateX(-100%);
    transition: all ease 0.3s;
}

.blog .item:hover {
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.05);
}

.blog .item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.blog .item .info {
    padding: 20px 20px 28px;
}

.blog .item .date {
    display: inline-flex;
    align-items: center;
    position: relative;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.blog .item .date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 4px;
    border-radius: 50%;
    background: var(--primary-color);
}

.blog .item .date::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    right: -27px;
    bottom: -2px;
    width: 160px;
    height: 1px;
    background: #e2dfda;
    border-radius: 0.5px;
}

.blog .item .title a {
    display: inline-block;
    margin: 12px 0;
    font-weight: 600;
    line-height: 1.75;
    color: #171100;
}

.blog .item .btn {
    font-size: 1.4rem;
}

.blog .item .btn:hover {
    background: var(--primary-color);
}

.blog .dots {
    display: flex;
    gap: 6px;
    justify-content: center;
    margin-top: 36px;
}

.blog .dot {
    cursor: pointer;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5f5b23;
}

.blog .dot.active {
    cursor: default;
    background: var(--primary-color);
}
